
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import '~bootstrap/scss/bootstrap-flex';
@import '~bootstrap/scss/mixins/_breakpoints';

html {
  #container {
      //height: 1000px;
      //border:1px solid red;
      margin-top: 55px;
      padding-top:20px;
      margin-bottom:55px;
  }
}


