<!-- fixed top navbar -->
<nav id="top-bar" class="navbar navbar-full navbar-fixed-top navbar-dark bg-primary">
	<div class="navbar-toggleable-xs">
		<a class="navbar-brand" href="/">Shitty Code Storage</a>
	</div>
	<div class="pull-xs-right">
		<a class="btn btn-success-outline" href="http://devblog-sharp7c0000.rhcloud.com/" title="Go to dev blog" target="_blank"><span class="button-title">Go to dev blog</span> <i class="fa fa-external-link"></i></a>
	</div>
</nav>
