<!DOCTYPE html>
<html>
  <head>
    {{> partial/header}}
    <title>Shitty Code Storage</title>
  </head>

  <body id="index">

    {{> partial/topbar}}

    <!-- body container -->
    <div id="container" class="container">
      <div class="row">

        
    <div id="app">
      <template>
      ABCD
      <test></test>
      </template>
    </div>

    


        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
          <div class="card-block">
            <h3 class="card-title">Special title treatment</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <!--<script async src="assets/js/test.js"></script>-->
      <!--<script src="http://localhost:6768/assets/vendor.js"/>-->

      <!-- dev mode -->
      <script src="http://localhost:6768/webpack-dev-server.js"></script>
      <script src="http://localhost:6768/assets/vendor.js"></script>
      <script src="http://localhost:6768/assets/page1.bundle.js"></script>
    </footer>
  </body>
</html>
