<!DOCTYPE html>
<html>
  <head>
    {{> partial/header}}
    <title>Shitty Code Storage</title>
  </head>

  <body>

    <div id="app">
      
      <topbar></topbar>

      <!-- body container -->
      <div id="container" class="container">
        <div class="row">
          <test></test>
        </div>
      </div>
    
    </div>

    <footer>
      <!-- dev mode -->
      <script src="http://localhost:6768/webpack-dev-server.js"></script>
      <script src="http://localhost:6768/assets/vendor.js"></script>
      <script src="http://localhost:6768/assets/index.bundle.js"></script>
    </footer>
  </body>
</html>
